<div class="container">
  <!-- START THE FEATURETTES -->
  <div class="page-header">
    <h2>The Team</h2>
  </div>
  <ul>
    <li><a href="http://selby.io">Selby Kendrick</a> - Full Stack Engineer</li>
	<li><a href="https://www.linkedin.com/pub/cade-thomasson/67/164/183">Cade Thomasson</a></li>
	<li>Tucker Roussel</li>
	<li>Raymond Hendrix</li>
  </ul>
</div>
