<h2>XML</h2>

<pre><code class="xml">
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<DatabaseModel VersionId="2.1">
    <ModelGid>none</ModelGid>
    <ModelVersionGid>none</ModelVersionGid>
    <Counters>
        <Counter>
            <Name>table</Name>
            <Value>14</Value>
            <Prefix>t</Prefix>
        </Counter>
        <Counter>
            <Name>column</Name>
            <Value>62</Value>
            <Prefix>c</Prefix>
        </Counter>
        <Counter>
            <Name>index</Name>
            <Value>0</Value>
            <Prefix>i</Prefix>
        </Counter>
        <Counter>
            <Name>reference</Name>
            <Value>28</Value>
            <Prefix>r</Prefix>
        </Counter>
        <Counter>
            <Name>table_check</Name>
            <Value>0</Value>
            <Prefix>tc</Prefix>
        </Counter>
        <Counter>
            <Name>alternate_key</Name>
            <Value>1</Value>
            <Prefix>a</Prefix>
        </Counter>
        <Counter>
            <Name>sequence</Name>
            <Value>0</Value>
            <Prefix>s</Prefix>
        </Counter>
        <Counter>
            <Name>note</Name>
            <Value>4</Value>
            <Prefix>n</Prefix>
        </Counter>
        <Counter>
            <Name>view</Name>
            <Value>0</Value>
            <Prefix>v</Prefix>
        </Counter>
        <Counter>
            <Name>view_column</Name>
            <Value>0</Value>
            <Prefix>vc</Prefix>
        </Counter>
        <Counter>
            <Name>area</Name>
            <Value>0</Value>
            <Prefix>ar</Prefix>
        </Counter>
        <Counter>
            <Name>text</Name>
            <Value>0</Value>
            <Prefix>tx</Prefix>
        </Counter>
        <Counter>
            <Name>tableDisplay</Name>
            <Value>13</Value>
            <Prefix>td</Prefix>
        </Counter>
        <Counter>
            <Name>referenceDisplay</Name>
            <Value>27</Value>
            <Prefix>rd</Prefix>
        </Counter>
        <Counter>
            <Name>viewDisplay</Name>
            <Value>0</Value>
            <Prefix>vd</Prefix>
        </Counter>
    </Counters>
    <AdditionalSQLBeforeCreate></AdditionalSQLBeforeCreate>
    <AdditionalSQLAfterCreate></AdditionalSQLAfterCreate>
    <AdditionalSQLBeforeDrop></AdditionalSQLBeforeDrop>
    <AdditionalSQLAfterDrop></AdditionalSQLAfterDrop>
    <Tables>
        <Table Id="t7">
            <Name>inventory</Name>
            <Description></Description>
            <Columns>
                <Column Id="c25">
                    <Name>id</Name>
                    <Type>int</Type>
                    <Description>Inventory ID to link to user</Description>
                    <Nullable>false</Nullable>
                    <PK>true</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties>
                        <Property>
                            <Name>Auto_increment</Name>
                            <Value>true</Value>
                        </Property>
                    </Properties>
                </Column>
                <Column Id="c26">
                    <Name>user</Name>
                    <Type>int</Type>
                    <Description>item name</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c27">
                    <Name>category</Name>
                    <Type>int</Type>
                    <Description>category id of item</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c31">
                    <Name>name</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
            </Columns>
            <AlternateKeys/>
            <Indexes/>
            <TableChecks/>
            <AdditionalSQLBefore></AdditionalSQLBefore>
            <AdditionalSQLAfter></AdditionalSQLAfter>
            <Properties/>
        </Table>
        <Table Id="t8">
            <Name>user</Name>
            <Description></Description>
            <Columns>
                <Column Id="c28">
                    <Name>id</Name>
                    <Type>int</Type>
                    <Description></Description>
                    <Nullable>false</Nullable>
                    <PK>true</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties>
                        <Property>
                            <Name>Auto_increment</Name>
                            <Value>true</Value>
                        </Property>
                    </Properties>
                </Column>
                <Column Id="c38">
                    <Name>email</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c39">
                    <Name>password</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c40">
                    <Name>fname</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>true</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c41">
                    <Name>lname</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>true</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c61">
                    <Name>groups</Name>
                    <Type>text</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties>
                        <Property>
                            <Name>Comment</Name>
                            <Value>Linux-style rbac</Value>
                        </Property>
                    </Properties>
                </Column>
            </Columns>
            <AlternateKeys/>
            <Indexes/>
            <TableChecks/>
            <AdditionalSQLBefore></AdditionalSQLBefore>
            <AdditionalSQLAfter></AdditionalSQLAfter>
            <Properties/>
        </Table>
        <Table Id="t9">
            <Name>ingredient</Name>
            <Description></Description>
            <Columns>
                <Column Id="c32">
                    <Name>id</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>true</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties>
                        <Property>
                            <Name>Auto_increment</Name>
                            <Value>true</Value>
                        </Property>
                    </Properties>
                </Column>
                <Column Id="c33">
                    <Name>name</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
            </Columns>
            <AlternateKeys/>
            <Indexes/>
            <TableChecks/>
            <AdditionalSQLBefore></AdditionalSQLBefore>
            <AdditionalSQLAfter></AdditionalSQLAfter>
            <Properties/>
        </Table>
        <Table Id="t10">
            <Name>recipe</Name>
            <Description></Description>
            <Columns>
                <Column Id="c34">
                    <Name>id</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>true</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties>
                        <Property>
                            <Name>Auto_increment</Name>
                            <Value>true</Value>
                        </Property>
                    </Properties>
                </Column>
                <Column Id="c47">
                    <Name>user</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c42">
                    <Name>name</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c43">
                    <Name>description</Name>
                    <Type>text</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c44">
                    <Name>directions</Name>
                    <Type>text</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
            </Columns>
            <AlternateKeys/>
            <Indexes/>
            <TableChecks/>
            <AdditionalSQLBefore></AdditionalSQLBefore>
            <AdditionalSQLAfter></AdditionalSQLAfter>
            <Properties/>
        </Table>
        <Table Id="t12">
            <Name>recipe_ingredient</Name>
            <Description>recipe to ingredient relation table: recipe contains ingredients</Description>
            <Columns>
                <Column Id="c49">
                    <Name>id</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>true</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties>
                        <Property>
                            <Name>Auto_increment</Name>
                            <Value>true</Value>
                        </Property>
                    </Properties>
                </Column>
                <Column Id="c37">
                    <Name>recipe</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c35">
                    <Name>ingredient</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c62">
                    <Name>amount</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
            </Columns>
            <AlternateKeys/>
            <Indexes/>
            <TableChecks/>
            <AdditionalSQLBefore></AdditionalSQLBefore>
            <AdditionalSQLAfter></AdditionalSQLAfter>
            <Properties/>
        </Table>
        <Table Id="t14">
            <Name>inventory_ingredient</Name>
            <Description>inventory to ingredient relation table: inventory contains ingredients</Description>
            <Columns>
                <Column Id="c54">
                    <Name>id</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>true</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties>
                        <Property>
                            <Name>Auto_increment</Name>
                            <Value>true</Value>
                        </Property>
                    </Properties>
                </Column>
                <Column Id="c55">
                    <Name>inventory</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c56">
                    <Name>ingredient</Name>
                    <Type>int</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
                <Column Id="c57">
                    <Name>amount</Name>
                    <Type>varchar(45)</Type>
                    <Description>describe me please</Description>
                    <Nullable>false</Nullable>
                    <PK>false</PK>
                    <DefaultValue></DefaultValue>
                    <CheckExpression></CheckExpression>
                    <Properties/>
                </Column>
            </Columns>
            <AlternateKeys/>
            <Indexes/>
            <TableChecks/>
            <AdditionalSQLBefore></AdditionalSQLBefore>
            <AdditionalSQLAfter></AdditionalSQLAfter>
            <Properties/>
        </Table>
    </Tables>
    <Views/>
    <References>
        <Reference Id="r9">
            <Name>Inventory_User</Name>
            <Description></Description>
            <PKTable>t8</PKTable>
            <FKTable>t7</FKTable>
            <PKRole></PKRole>
            <FKRole></FKRole>
            <ReferenceColumns>
                <ReferenceColumn>
                    <PKColumn>c28</PKColumn>
                    <FKColumn>c26</FKColumn>
                </ReferenceColumn>
            </ReferenceColumns>
            <Cardinality>1..*</Cardinality>
            <Mandatory>true</Mandatory>
            <OnUpdateAction>None</OnUpdateAction>
            <OnDeleteAction>None</OnDeleteAction>
            <Properties/>
        </Reference>
        <Reference Id="r10">
            <Name>recipeitems_Recipes</Name>
            <Description></Description>
            <PKTable>t10</PKTable>
            <FKTable>t12</FKTable>
            <PKRole></PKRole>
            <FKRole></FKRole>
            <ReferenceColumns>
                <ReferenceColumn>
                    <PKColumn>c34</PKColumn>
                    <FKColumn>c37</FKColumn>
                </ReferenceColumn>
            </ReferenceColumns>
            <Cardinality>1..*</Cardinality>
            <Mandatory>true</Mandatory>
            <OnUpdateAction>None</OnUpdateAction>
            <OnDeleteAction>None</OnDeleteAction>
            <Properties/>
        </Reference>
        <Reference Id="r11">
            <Name>Item_recipeitems</Name>
            <Description></Description>
            <PKTable>t9</PKTable>
            <FKTable>t12</FKTable>
            <PKRole></PKRole>
            <FKRole></FKRole>
            <ReferenceColumns>
                <ReferenceColumn>
                    <PKColumn>c32</PKColumn>
                    <FKColumn>c35</FKColumn>
                </ReferenceColumn>
            </ReferenceColumns>
            <Cardinality>1..1</Cardinality>
            <Mandatory>true</Mandatory>
            <OnUpdateAction>None</OnUpdateAction>
            <OnDeleteAction>None</OnDeleteAction>
            <Properties/>
        </Reference>
        <Reference Id="r13">
            <Name>recipe_user</Name>
            <Description></Description>
            <PKTable>t8</PKTable>
            <FKTable>t10</FKTable>
            <PKRole></PKRole>
            <FKRole></FKRole>
            <ReferenceColumns>
                <ReferenceColumn>
                    <PKColumn>c28</PKColumn>
                    <FKColumn>c47</FKColumn>
                </ReferenceColumn>
            </ReferenceColumns>
            <Cardinality>0..*</Cardinality>
            <Mandatory>true</Mandatory>
            <OnUpdateAction>None</OnUpdateAction>
            <OnDeleteAction>None</OnDeleteAction>
            <Properties/>
        </Reference>
        <Reference Id="r27">
            <Name>inventory_ingredient_inventory</Name>
            <Description></Description>
            <PKTable>t7</PKTable>
            <FKTable>t14</FKTable>
            <PKRole></PKRole>
            <FKRole></FKRole>
            <ReferenceColumns>
                <ReferenceColumn>
                    <PKColumn>c25</PKColumn>
                    <FKColumn>c55</FKColumn>
                </ReferenceColumn>
            </ReferenceColumns>
            <Cardinality>0..*</Cardinality>
            <Mandatory>true</Mandatory>
            <OnUpdateAction>None</OnUpdateAction>
            <OnDeleteAction>None</OnDeleteAction>
            <Properties/>
        </Reference>
        <Reference Id="r28">
            <Name>ingredient_inventory_ingredient</Name>
            <Description></Description>
            <PKTable>t9</PKTable>
            <FKTable>t14</FKTable>
            <PKRole></PKRole>
            <FKRole></FKRole>
            <ReferenceColumns>
                <ReferenceColumn>
                    <PKColumn>c32</PKColumn>
                    <FKColumn>c56</FKColumn>
                </ReferenceColumn>
            </ReferenceColumns>
            <Cardinality>1..1</Cardinality>
            <Mandatory>true</Mandatory>
            <OnUpdateAction>None</OnUpdateAction>
            <OnDeleteAction>None</OnDeleteAction>
            <Properties/>
        </Reference>
    </References>
    <Sequences/>
    <Notes/>
    <Areas/>
    <Texts/>
    <TableDisplays>
        <TableDisplay Id="td6">
            <X>4590.5</X>
            <Y>4849.5</Y>
            <Width>170.0</Width>
            <Height>87.0</Height>
            <LineColor>#000000</LineColor>
            <FillColor>#ffffff</FillColor>
            <Table>t7</Table>
            <FixedSize>false</FixedSize>
        </TableDisplay>
        <TableDisplay Id="td7">
            <X>4603.5</X>
            <Y>4583.5</Y>
            <Width>154.0</Width>
            <Height>116.0</Height>
            <LineColor>#000000</LineColor>
            <FillColor>#ffffff</FillColor>
            <Table>t8</Table>
            <FixedSize>false</FixedSize>
        </TableDisplay>
        <TableDisplay Id="td8">
            <X>5121.5</X>
            <Y>5021.5</Y>
            <Width>226.0</Width>
            <Height>73.0</Height>
            <LineColor>#000000</LineColor>
            <FillColor>#ffffff</FillColor>
            <Table>t9</Table>
            <FixedSize>false</FixedSize>
        </TableDisplay>
        <TableDisplay Id="td9">
            <X>4909.5</X>
            <Y>4576.5</Y>
            <Width>160.0</Width>
            <Height>116.0</Height>
            <LineColor>#000000</LineColor>
            <FillColor>#ffffff</FillColor>
            <Table>t10</Table>
            <FixedSize>false</FixedSize>
        </TableDisplay>
        <TableDisplay Id="td11">
            <X>5171.5</X>
            <Y>4770.5</Y>
            <Width>167.0</Width>
            <Height>87.0</Height>
            <LineColor>#000000</LineColor>
            <FillColor>#ffffff</FillColor>
            <Table>t12</Table>
            <FixedSize>false</FixedSize>
        </TableDisplay>
        <TableDisplay Id="td13">
            <X>4828.5</X>
            <Y>5005.5</Y>
            <Width>167.0</Width>
            <Height>102.0</Height>
            <LineColor>#000000</LineColor>
            <FillColor>#ffffff</FillColor>
            <Table>t14</Table>
            <FixedSize>false</FixedSize>
        </TableDisplay>
    </TableDisplays>
    <ViewDisplays/>
    <ReferenceDisplays>
        <ReferenceDisplay Id="rd8">
            <Color>#000000</Color>
            <ControlPointsType>Vertical_2CP</ControlPointsType>
            <ControlPoint>
                <X>4676.5</X>
                <Y>4594.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4676.5</X>
                <Y>4859.5</Y>
            </ControlPoint>
            <PkTableDisplay>td7</PkTableDisplay>
            <FkTableDisplay>td6</FkTableDisplay>
            <Reference>r9</Reference>
        </ReferenceDisplay>
        <ReferenceDisplay Id="rd9">
            <Color>#000000</Color>
            <ControlPointsType>Vertical_4CP</ControlPointsType>
            <ControlPoint>
                <X>5059.5</X>
                <Y>4645.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>5059.5</X>
                <Y>4637.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>5249.5</X>
                <Y>4637.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>5249.5</X>
                <Y>4789.5</Y>
            </ControlPoint>
            <PkTableDisplay>td9</PkTableDisplay>
            <FkTableDisplay>td11</FkTableDisplay>
            <Reference>r10</Reference>
        </ReferenceDisplay>
        <ReferenceDisplay Id="rd10">
            <Color>#000000</Color>
            <ControlPointsType>Cross_3CP</ControlPointsType>
            <ControlPoint>
                <X>5188.5</X>
                <Y>5031.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>5249.5</X>
                <Y>5031.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>5249.5</X>
                <Y>4833.5</Y>
            </ControlPoint>
            <PkTableDisplay>td8</PkTableDisplay>
            <FkTableDisplay>td11</FkTableDisplay>
            <Reference>r11</Reference>
        </ReferenceDisplay>
        <ReferenceDisplay Id="rd12">
            <Color>#000000</Color>
            <ControlPointsType>Horizontal_4CP</ControlPointsType>
            <ControlPoint>
                <X>4705.5</X>
                <Y>4642.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4840.5</X>
                <Y>4642.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4840.5</X>
                <Y>4642.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4982.5</X>
                <Y>4642.5</Y>
            </ControlPoint>
            <PkTableDisplay>td7</PkTableDisplay>
            <FkTableDisplay>td9</FkTableDisplay>
            <Reference>r13</Reference>
        </ReferenceDisplay>
        <ReferenceDisplay Id="rd26">
            <Color>#000000</Color>
            <ControlPointsType>Cross_3CP</ControlPointsType>
            <ControlPoint>
                <X>4669.5</X>
                <Y>4920.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4669.5</X>
                <Y>5061.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4867.5</X>
                <Y>5061.5</Y>
            </ControlPoint>
            <PkTableDisplay>td6</PkTableDisplay>
            <FkTableDisplay>td13</FkTableDisplay>
            <Reference>r27</Reference>
        </ReferenceDisplay>
        <ReferenceDisplay Id="rd27">
            <Color>#000000</Color>
            <ControlPointsType>Horizontal_4CP</ControlPointsType>
            <ControlPoint>
                <X>5158.5</X>
                <Y>5057.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4951.5</X>
                <Y>5057.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4951.5</X>
                <Y>5080.5</Y>
            </ControlPoint>
            <ControlPoint>
                <X>4977.5</X>
                <Y>5080.5</Y>
            </ControlPoint>
            <PkTableDisplay>td8</PkTableDisplay>
            <FkTableDisplay>td13</FkTableDisplay>
            <Reference>r28</Reference>
        </ReferenceDisplay>
    </ReferenceDisplays>
    <Properties>
        <Property>
            <Name>pdf-printer-paper-size</Name>
            <Value>A4</Value>
        </Property>
        <Property>
            <Name>pdf-printer-margin-top</Name>
            <Value>10</Value>
        </Property>
        <Property>
            <Name>pdf-printer-margin-bottom</Name>
            <Value>10</Value>
        </Property>
        <Property>
            <Name>pdf-printer-margin-left</Name>
            <Value>10</Value>
        </Property>
        <Property>
            <Name>pdf-printer-margin-right</Name>
            <Value>10</Value>
        </Property>
        <Property>
            <Name>pdf-printer-page-orientation</Name>
            <Value>landscape</Value>
        </Property>
        <Property>
            <Name>pdf-printer-show-pages</Name>
            <Value>true</Value>
        </Property>
        <Property>
            <Name>pdf-printer-include-footer</Name>
            <Value>true</Value>
        </Property>
    </Properties>
</DatabaseModel>

</code></pre>
<script>
hljs.initHighlightingOnLoad();
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
$('pre code').each(function(i, block) {
  hljs.highlightBlock(block);
});

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
